.card-list {
  display: flex;
  justify-content: center;
}

.card {
  width: 305px;
  height: 109px;
  margin: 12px auto;
  background-color: #F0EEEE;
  border-radius: 14px;
  position: relative;
}

.card:first-child {
  margin: 24px;
}

.food-type {
  position: absolute;
  left: 5.25%;
  right: 5.25%;
  top: 15.6%;
  bottom: 65.14%;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.food-ingredients {
  position: absolute;
  left: 5.25%;
  right: 5.25%;
  top: 42.2%;
  bottom: 32.11%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.food-price {
  position: absolute;
  left: 77.7%;
  right: 3.61%;
  top: 77.06%;
  bottom: 5.5%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}