form {
  background-color: #E76F51;
  width: 95%;
  margin: auto;
  min-height: 450px;
	margin-top: 30px;
  border-radius: 30px;
  padding-bottom: 10px;
}

.img-container {
  margin: auto;
  max-width: 245px;
  max-height: 280px;
}

.img-container>img {
  width: 100%;
  height: auto;
}

form>h2 {
  color: #FFFFFF;
  font-size: 28;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

form>input {
  display: block;
  background-color: #E8E8E8;
  border-style: none;
  border-radius: 38px;
  width: 80%;
  height: 35px;
  font-size: 17px;
  font-weight: bold;
  padding-left: 20px;
  margin: auto;
  margin-bottom: 25px;
}

form>button {
  display: block;
  margin: auto auto 30px auto;
  background-color: #264653;
  color: #FFFFFF;
  border-radius: 10px;
  width: 96px;
  height: 40px;
  padding: auto;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}